In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
data=pd.read_csv('C:\Users\User\Desktop/new.csv',delimiter=" ")

In [3]:
data.index=["blues bells","broken jones","deadmaustoopid","norahstrokes","phoenixtraveller","slightly","weekend","thevamp"]

In [4]:
data

                  Angelica Bill Chan  Dan Hailey Jordyn Sam Veronica
blues bells            3.5    2    5    3      -      -   5        3
broken jones           2.0  3.5    1    4      4    4.5   2        -
deadmaustoopid         4.0    1  4.5    1      4      -   -      NaN
norahstrokes           4.5    -    3    -      4      5   3        5
phoenixtraveller       2.0    5    3    -      5      5   4      NaN
slightly               1.5  3.5    1  4.5      -    4.5   4      2.5
weekend                2.5    -    -    4      4      4   5        3
thevamp                2.0    3    -    2      1      4   -        -

In [5]:
data=data.replace("-",np.nan)

In [6]:
data=data.astype(float)
data=data.fillna(0)
data

                  Angelica  Bill  Chan  Dan  Hailey  Jordyn  Sam  Veronica
blues bells            3.5   2.0   5.0  3.0       0     0.0    5       3.0
broken jones           2.0   3.5   1.0  4.0       4     4.5    2       0.0
deadmaustoopid         4.0   1.0   4.5  1.0       4     0.0    0       0.0
norahstrokes           4.5   0.0   3.0  0.0       4     5.0    3       5.0
phoenixtraveller       2.0   5.0   3.0  0.0       5     5.0    4       0.0
slightly               1.5   3.5   1.0  4.5       0     4.5    4       2.5
weekend                2.5   0.0   0.0  4.0       4     4.0    5       3.0
thevamp                2.0   3.0   0.0  2.0       1     4.0    0       0.0

In [32]:
def manahattan(a,b):
    distance=0
    for x in range(len(a.values)):
        if a.values[x] or b.values[x] !=0:
            distance+=(abs(a.values[x]-b.values[x]))
    return distance

In [34]:
x=manahattan(data["Angelica"],data["Bill"])
print x

19.0

In [35]:
import math
def euclidian(a,b):
    distance=0
    for x in range(len(a.values)):
        if a.values[x] or b.values[x] !=0:
            distance+=(a.values[x]-b.values[x])**2
    return math.sqrt(distance)

In [36]:
z=euclidian(data["Bill"],data["Angelica"])
print z

7.34846922835

In [11]:
#############################PEARSON'S CORRELATION COEFFICIENT#############################################

In [12]:
#This is to define relation between two different ratings ....correlation between them....-1,0,1

In [13]:
import math
def pearson_cor_coef(a,b):
    prodxy=1
    for x in range(len(a.values)):
        if a.values[x] and b.values[x] !=0:
            prodxy+=a.values[x]*b.values[x]
    sumation=(sum(a.values)+sum(b.values))/len(a.values)
    xsumation=math.sqrt(sum(a.values**2)-(sum(a.values**2)/len(a.values)))
    ysumation=math.sqrt(sum(b.values**2)-(sum(b.values**2)/len(a.values)))
    total=(prodxy-sumation)/(xsumation*ysumation)
    return total

In [14]:
y=pearson_cor_coef(data["Hailey"],data["Angelica"])
print y

0.862905252644

In [15]:
###############################################################################################
#NOW WE ARE GOING FOR COSINE SIMILARITY

In [16]:
'''COSINE (X,Y)=SUM(X*Y)/(SUM(x))^1/2*(SUM(Y))^1/2'''

'COSINE (X,Y)=SUM(X*Y)/(SUM(x))^1/2*(SUM(Y))^1/2'

In [17]:
def cosine_sim(a,b):
    suming=0
    for x in range(len(a.values)):
        if a.values[x] or b.values[x] !=0:
            suming+=a.values[x]*b.values[x]
    denominator=math.sqrt(sum(a.values**2))*math.sqrt(sum(b.values**2))
    return suming/denominator

In [18]:
new_Data=pd.read_csv("C:\Users\User\Desktop/one.csv",delimiter=" ")

In [19]:
new=DataFrame(new_Data,index=["Clara","Robert"])

In [20]:
new=new.swapaxes(0,1)

In [21]:
new

               Clara  Robert
BluesTraveler   4.75       4
NorahJones      4.50       3
Phoenix         5.00       5
TheStrokes      4.25       2
WeirdAl         4.00       1

In [22]:
y=0
for x in range(len(new["Clara"].values)):
    y+=new["Clara"].values[x] * new["Robert"].values[x]

print y

70.0

In [23]:
q=math.sqrt(sum(new["Clara"].values**2))*math.sqrt(sum(new["Robert"].values**2))
print q

74.8540246079

In [24]:
j=cosine_sim(new["Clara"],new["Robert"])
j

0.93515345857052168

In [25]:
#absolutely correct!!!!!!!!

In [55]:
def closest(a):
    t={}
    for all in data:
        t[all]=euclidian(a,data[all])
    return t

In [56]:
a=closest(data["Angelica"])

KeyError: 'Angelica'